@import '../css/font.css';
@import 'app-default.scss';

html {
    box-sizing: border-box;
    font-family: "GenSenRounded-M", "微軟正黑體", sans-serif;
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

@media (min-width: 576px) {
    nav div:first-child, main {
        width: 540px;
    }
}

@media (min-width: 768px) {
    nav div:first-child, main {
        width: 720px;
    }
}

@media (min-width: 992px) {
    nav div:first-child, main {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    nav div:first-child, main {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    nav div:first-child, main {
        width: 1320px;
    }
}
