#article {
    /*flex: 1;*/

    h1 {
        font-size: 2.5rem;
        font-weight: bolder;
        text-align: center;
    }
}

#article-footer {
    display: flex;
    width: 100%;
    border-top: solid 1px #F2F2F2;
    bottom: 0;
    padding: 1rem 0 0 0;
    height: 3rem;
    

    .beside-left {
        justify-content: flex-start;
    }

    .beside-right {
        justify-content: flex-end;
    }

    .footer-beside {
        display: flex;
        flex: 1 0 0;

        img {
            width: 32px;
            height: 32px;
        }

        p {
            color: black;
            margin: 0px;
            text-decoration: none;
        }
        /*i {
            font-size: 28px;
        }

        i::before {
            vertical-align: revert;
        }*/
    }

    .footer-center {
        position: relative;
        left: 50%;
        width: 1px;
        height: calc(100% - 10px);
        background-color: #f2f2f2
    }
}
